
#stage{
border:8px solid rgba(37, 30, 56, 1);
border-radius: 12px;
display: flex;
flex-direction: column;
position:absolute;
align-items: center;
}


body {
  background-color: black;
  font-family: 'Dosis', sans-serif;


  justify-content: center;
  align-items: center;
  /* padding: 0.3rem; */
}


@keyframes MOVE-BG {
    from {
        background-position: 0% 0%
    }
    to {
        background-position:500% 0%
    }
}


p {
  margin: auto;
  -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently*/
  /* text-align: center; */
}

#topMenu{
  display: flex;
  flex-direction: row;


  /* width: 80%; */
}

/* This is a general theming for background square enveloping elements */
.bg-square {
  display: flex;
  /* flex-direction: column; */
  background-color: #251e38;
  border-radius: 0.3rem;
  padding: 1rem;
  margin: 0.2rem;
  box-shadow: inset 0px 0px 8px 2px rgba(0, 0, 0, 0.9);
  color: white;
  justify-content: center;
  /* text-transform: uppercase; */
}

/* Welcome Square theming for background square enveloping elements */
.welcome-square {
  display: flex;
  flex-direction: column;
  background-color: #251e38;
  border-radius: 2rem;
  padding: 2rem;
  margin: 2rem;
  box-shadow: inset 0px 0px 8px 2px rgba(0, 0, 0, 0.9);
  color: white;
  justify-content: center;
  /* text-transform: uppercase; */
}



.bigTitle {
  display: flex;
  /* flex-direction: column; */
  background-color: #251e38;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: inset 0px 0px 8px 2px rgba(0, 0, 0, 0.9);
  color: white;
  justify-content: center;
  font-size: 2rem;
  /* text-transform: uppercase; */
}


/* THIS IS THE STYLING FOR EACH BUTTON */
.bg-square div div {
  /* background-color: #787582; */
  border-radius: 0.4rem;
  /* box-shadow: inset 0px 0px 10px 3px rgba(255, 255, 255, 0.3); */
  margin: auto;
  display: flex;
  /* flex-direction: column; */
  margin: 0.2rem;
  padding: 0.6rem;
  /* width: 4rem; */
  height: 1.5rem;
  color: white;
  text-shadow: 0 0 10px #000000;
}



.menuBtn{
  display: flex;
  background-color: rgba(149,145,153,0.5);
  /* background-color: rgba(255,255,255,0.2); */
  /* background-color: rgba(1,1,1,0.9); */
  padding: 0.6rem;
  margin: 0.3rem;
  text-transform: uppercase;
  border-radius: 0.3rem;
}

.progBtn{
  display: flex;
  background-color: rgba(149,145,153,0.3);
  /* background-color: rgba(255,255,255,0.2); */
  /* background-color: rgba(1,1,1,0.9); */
  padding: 0.5rem;
  margin: 0.16rem;
  /* text-transform: uppercase; */
  border-radius: 0.3rem;
}


.btnReady {
  /* WAS:

  background-color: #655b6d;
  /* background-color: #787582; */
  /* was - continued:

  padding: 5 rem;
  box-shadow: inset 0px 0px 10px 3px rgba(255, 255, 255, 0.2); */
  background-color: rgba(149,145,153,0.5);
  /* background-color: #655b6d; */
  box-shadow: inset 0px 0px 4px 3px rgba(1, 1, 1, 0.1);
}

.btnHighlighted {
  /* background-color: #ffffff; */
  /* border-radius: 0.3rem; */
  /* padding: 1rem; */
  /* margin: 0.2rem; */
  /* was:
  box-shadow: inset 0px 0px 4px 3px rgba(1, 1, 1, 0.1); */
  /* is */
  box-shadow: inset 0px 0px 4px 2px rgba(255, 255, 255, 0.8);
}

.btnClicked {
  /* the problem is that this is competing with #colums, which has higher priority */
  background-color: #7d2faf;
  border-radius: 0.3rem;
  /* padding: 1rem; */
  margin: 0.2rem;
  box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.9);
  /* justify-content: center; */
}

.btnDisabled {
  /* the problem is that this is competing with #colums, which has higher priority */
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 0.3rem;
  /* padding: 1rem; */
  margin: 0.2rem;
  box-shadow: inset 0px 0px 8px 2px rgba(0, 0, 0, 0.9);
  /* justify-content: center; */
}


.textbox {
  /* display: flex; */
  flex-direction: column;
  /* background-color: #31274c; */
  /* border-radius:0.3rem; */
  /* padding: 1rem; */
  /* margin: auto; */
  /* margin:0.3rem; */
  /* width:80%; */
  /* height:2rem; */
  /* color: white; */
  /* justify-content: center; */
  text-transform: uppercase;
}

.comment {

  /* display: flex; */
  flex-direction: column;
  /* background-color: #31274c; */
  /* border-radius:0.3rem; */
  /* padding: 1rem; */
  /* margin: auto; */
  /* margin:0.3rem; */
  /* width:80%; */
  /* height:2rem; */
  /* color: white; */
  /* justify-content: center; */
  /* text-transform: uppercase; */
}

.footnote {
    /* flex-direction: column; */
    /* border-radius: 0.4rem; */
    /* box-shadow: inset 0px 0px 10px 3px rgba(255, 255, 255, 0.3); */
    margin-top: auto;
    margin-bottom: 1rem;
    /* flex-grow: 1; */
    /* display: flex; */
    /* margin: 0.3rem; */
    /* width: 5rem; */
    /* height: 1.5rem; */
    color: gray;
    font-size: 0.8rem;
    /* text-shadow: 0 0 10px #000000; */
}


#answerBox{
  width: 40%;
  height: 2.5rem;
  display: flex;
  /* text-align:center; */
  /* display: flex; */
  /* align-items: center; */
}

#answerBox div{
  display: flex;
  width: 4rem;
  height: 1.8rem;
  background-color: rgba(149,145,153,0.3);
  /* background-color: rgba(255,255,255,0.2); */
  /* background-color: rgba(1,1,1,0.9); */
  padding: 0.3rem;
  /* margin:auto; */
  margin: 0rem 1rem 0.3rem 1rem;
  /* text-transform: uppercase; */
  border-radius: 0.3rem;
  justify-content: center;
  font-size: 1.2rem;
  /* text-align:center; */
  /* display: flex; */
  /* align-items: center; */
}

/* #answerBox p{ */
  /* width: 50%;
  height: 1.5rem; */
  /* text-align:center; */
  /* margin: auto; */
/* } */

/*
#title div {
  text-align: right;
} */
#columns, #columns>div{
  display: flex;

}
#columns
{

  flex-direction:column ;
  padding: 1rem;
}

#columns>div{
  padding: 0.5rem;
  flex-direction:row ;

}


/* #columns>div {
  flex: 1;
} */

#progMenu{
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
}

#triadMenu{
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
}



/* LOADING SCREEN SPECIFIC STUFF */
.loadingTitle {
  display: flex;
  /* flex-direction: column; */
  background-color: #251e38;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 2rem;
  box-shadow: inset 0px 0px 8px 2px rgba(0, 0, 0, 0.9);
  color: white;
  justify-content: center;
  font-size: 4rem;
  text-transform: none;
}

#loading{
width:100%;
height:100%;
background-color: black;
position:absolute;
}

#WelcomeTitleSection{
  /* background-image: url(../img/logo.png); */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
 /* background-position: center; */
 /* background-size: 20rem 20rem; */
/* width:100%; */
/* height:100%; */
/* background-color: black; */
/* position:absolute; */
}

#loadingMessage{
  margin: 7rem 4rem 2rem 4rem;
  padding: 3rem;
}
/*
#loadingMessage p{
  margin: 2em;
} */

#loadingKeyboard{
/* width:20%;
height:15%; */
width:10rem;
height:30rem;
position:absolute;
/* border:1px solid black; */
background-image: url(../img/key.svg);
background-repeat: repeat-x;
/* background-size:400%; */
background-size:4rem;
animation: MOVE-BG 10s infinite linear;

top:42rem;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}


/* The animation code */
@keyframes logo {
  /* from {fill: rgba(77, 70, 90, 0.9);} */
  from {fill: rgba(37, 30, 56, 1);}
  to {fill: rgba(87, 90, 120, 0.6);}
}


#logoDiv{
/* width:20%;
height:15%; */
/* width:10rem; */
/* height:30rem; */
/* position:absolute; */
/* border:1px solid black; */
/* background-image: url(../img/logo.png); */
/* background-repeat: repeat-x; */
/* background-size:400%; */
/* background-size:4rem; */
/* animation: MOVE-BG 10s infinite linear; */

/* top:20rem;
	bottom: 0;
	left: 0;
	right: 0; */

	margin: auto;
  width: 15rem;
  height: 15rem;
  /* fill: rgba(87, 90, 106, 0.9); */
  fill: rgba(37, 30, 56, 1);
  /* transition: fill 3s ease-out; */

  animation-name: logo;
animation-duration: 1s;
animation-iteration-count: 9;
animation-direction: alternate;
animation-delay: 1s;

  /* background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
 background-position: center;
 background-size: 14rem;
   display: flex;
   padding: 7rem;

   -webkit-filter: hue-rotate(59deg); */


}



/* #progMenu>div {
  flex: 1;
} */
